body {
  display: flex;
  flex-direction: column;
}

.button {
  width: 100px;
  height: 45px;
}

.button_plus,
.button_minus {
  margin-top: 15px;
}

input {
  margin-top: 20px;
  width: 130px;
}

#button {
   width: 138px;
}